body {
	background: rgb(106, 106, 233);
  }
  
  h1, h2, h3 {
	  test-align: center;
  
  }
  
  a{
	  font-size: 30px;
	  margin: 20px 40px;
  }
  
  ul{
	  font-size: 18px;
  }
  
 
  table,th, td {
	  padding: 15px;
	  text-align: left;
	  height: 50px;
	  vertical-align: bottom;
	  border: 1px solid rgb(0, 0, 0);
		
	  }


	  table.excel  {
		background:#fff;
		font-size:18px;
	  }
	  
	  table.excel th {
		  border:1px solid #ddd;
		  font-size:1.5em;
		  padding:.5em 1.5em;
	  }
	  
	  table.excel tr:nth-child(odd) {
		  background: #f5f5f5;
	  }
	  
	  /* The hover state for all "tr's" that are not the first one */
	  table.excel tr:not(:first-child):hover {
		  background: #000;
		  color: #fff;
	  }
	  
	  table.excel td {
		  border: 1px solid #ccc;
		  padding: .5rem 1.5rem;
	  }
	  
	  table.modern {
		  background:#fff;
	  }
	  table.modern th {
		  border-bottom: 2px solid #66ccff;
	  }
	  
	  table.modern td {
		  border-bottom: 1px solid #cceeff;
		  /* Adding some space between columns for visual space */
		  border-right: 2em solid #fff; 
		  border-left: 2em solid #fff; 
	  }
	  
	  .card.media-left figure {
		float:left;
		margin:1em;
		width:45%;
		
	}

