body {
	background: rgb(106, 106, 233);

  }

.fish {
	position: relative;
	text-align: center;

}
.centered {
	position: center;
	text-align: center;
	top: 20%;
	left: 50%;
}

h1 {
	text-align: center;
}

div#places {
	color: red;
	font-family: cursive;

}


.fcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-image: rgb(106, 106, 223);

}

.center-div
{
     margin: 0 auto;
     width: 100px; 
}


img {
	border-radius: 50%;
}




h1 {
		text-align: center;
}

#cut {
	    position: right;
		height: 150px;
		width: 150px;
	  }
}

#family {
	float: right;
	height: 300px; 
	width: 400px  */
}
 
.myList, ul, li {
    list-style-type: none
}

ul {
    float: left,


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */



  h1, h2, h3 {
	  test-align: center;
  
  }
  
  a{
	  font-size: 30px;
	  margin: 20px 40px;
  }
  
  ul{
	  font-size: 18px;
  }
  
  table {

	background-color: palegreen;
	margin-bottom: 4em;
	text-align: center;


  }
 
  table,th, td {
	  padding: 15px;
	  text-align: left;
	  height: 50px;
	  vertical-align: bottom;
	  border: 1px solid rgb(0, 0, 0);
		
	  }


	  table.excel  {
		background:#fff;
		font-size:18px;
	  }
	  
	  table.excel th {
		  border:1px solid #ddd;
		  font-size:1.5em;
		  padding:.5em 1.5em;
	  }
	  