* {
    background-color:salmon;
  }
  
  h1, h2, h3 {
   font-family: sans-serif
    color: rgb(0, 2, 128);
  }
    
  }
  
  img {
    border-radius: 400px;
    border-style: solid;
  
  }
  
  .module {
    cursor: url(cursor:(http://www.rw-designer.com/cursor-extern.php?id=69328);
}
  